.admin-content-wrapper{
	margin-bottom: 10%;
}

.admin-content-wrapper a{
	color:#0000ff;
}

.admin-content-wrapper a:visited{
	color:#0000ff;
}

.auth-form{
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}

.auth-form h1{
	padding-top: 10%;
}

.auth-form form{
	margin-top: 5%;
}

.auth-form input[type=text], input[type=password]{
	height: 30px;
}

.admin-table{
	margin-left: 20px;
	width: 100%;
}

.admin-table td{
	padding-bottom: 10px;
}

.tag-image {
	width: 100px;
	padding-left: 10px;
	padding-right: 10px;
}

#menu-header h1{
	float: left;
	padding-right: 3%;
}

#login-message{
	padding-top: 4%;
	font-size: 12px;
}

#menu-list{
	clear: both;
}

#menu-list li{
	margin-bottom: 3%;
}