.thumbnail-container {
	margin-bottom: 20px;
	text-align: center;
}

.thumbnail {
	width: 100%;
}

.journal {
	font-size: 12px;
}

@media only screen and (min-width: 650px){
	.thumbnail-container{
		width: 25%;
		margin-right:20px;
		
		float: left;
	}
	
	.thumbnail {
		
	}
	
	.journal {
		font-size: 15px
	}
}