.menu-bar{	
	width: 100%;
	height: 50px;
	display: table;
	background-color:rgba(0, 0, 0, 0.5);
	color: #ffffff;
	position: fixed;
	top: 0;
	z-index: 10;
	font-size: 25px;
}

.menu-bar-content{
	display: table-cell;
	vertical-align: middle;
}

.menu-bar-content .arrow{
	font-size: 11px;
	line-height: middle;
}

.menu-bar-content ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left: 3%;
}

.menu-bar-content li{
	display: inline-block;
	margin-right: 7%;
	cursor: pointer;
	position: relative;
}

.nav-text{
	display: none;
}

.menu-bar-content a{
	text-decoration: none;
	color: #ffffff;	
}

.menu-bar-content li:hover .dropdown-content{
	visibility: visible;
}

.dropdown-content{
	padding: 5px 5px 3px 5px;
	top: 100%;
	left: 5px;
	position: absolute;
	visibility: hidden;
	background-color:rgba(0, 0, 0, 0.8);
	list-style-type: none;
	border-radius: 4px;
	text-align: left;
	font-size: 15px;
}
	
.dropdown-content a{
	color: #ffffff;
	text-decoration: none;
}

.dropdown-content a:link{
	opacity: 0.8;
}
	
.dropdown-content a:hover{
	opacity: 1.0;
}

#regions{
	width: 150px;
}

#categories{
	width: 80px;
}

.link {
	display: block;
	padding: 7px 5px;
}

.link a{
	margin-right: 10px;
}

.expand{
	opacity: 0.8;
}

.expand:hover{
	opacity: 1.0;
}

.countries{
	font-size: 14px;
	margin-left: 10%;
	padding-bottom: 10px;
}

.countries a{
	display: block;
	padding: 5px 2px;
}

.menu-right{
	float: right;
	text-align: right;
}

#search-field{
	float: right;
	margin-right: 7%;
	margin-bottom: 2%;
	display: none;
}

@media only screen and (min-width: 650px){
	.menu-bar{	
		height: 70px;
		background-color:rgba(0, 0, 0, 0.8);
		font-size: 17px;
	}
	
	.menu-bar-content{

	}
	
	.menu-bar-content ul{
		margin-top: 0%;
		margin-left: 11%;
	}
	
	.menu-bar-content li{
		margin-right: 5%;
	}
	
	.menu-bar-content .arrow{
		font-size: 0.7em;
		margin-left: 5px;
		line-height: middle;
	}
	
	.dropdown-content{
		left: 17px;
		font-size: 15px;
	}
	
	.dropdown-content a{
		padding: 5px 0px 5px 10px;
	}
	
	.dropdown-content a:link{
		opacity: 0.6;
	}
	
	.dropdown-content a:hover{
		opacity: 1.0;
	}
	
	#regions{
		width: 180px;
	}
	
	.countries a{
		
	}
	
	.nav-text{
		display: inline-block;
	}
	
	.menu-right .search-icon{
		display: none;
	}
	
	.search-icon{
		display: none;
	}
	
	#search-field{
		display: inline-block;
		margin-right: 5%;
		margin-bottom: 0%;
	}
}