.bg{
	background-image: url("/images/header/header-narrow.jpg");
	height: 25%;
	background-position: 85% 0%;
}

.title {
	font-size: 20px;
	top: 30%;
	margin: 0 auto;
	/*margin-right: 2%;*/
	text-align: center;
}

@media only screen and (min-width: 650px){
	.title {
		font-size: 40px;
		top: 5%;
		/*left: 13%;*/
		margin: 0 auto;
		/*float: left;*/
	}
	
	.bg{
		height: 35%;
	}
}