.bg{
	background-image: url("/images/header/header-narrow2-b.jpg");
	height: 25%;
	background-position: 85% 0%;
}

.title {
	font-size: 20px;
	top: 30%;
	margin: 0 auto;
	/*margin-right: 2%;*/
	text-align: center;
}

@media only screen and (min-width: 650px){
	.title {
		font-size: 35px;
		top: 40%;
		left: 40%;
		margin-right: 2%;
		float: left;
	}
	
	.bg{
		height: 33%;
	}
}