body, html {
	height: 100%;
	margin: 0;
	font-family: helvetica;
}

body{
	overflow-x: hidden;
}

.bg{
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.title{
	color: #ffffff;
	font-weight: bold;
	position: relative;
	font-family: courier;
}

.container{
	position: relative;
	min-height: 100%;
}

.main-content{
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 80px;
}

.main-header{
	text-align: center;
}

.tile-container {
	margin-top: 10%;
	color: #44423d;
}

.message-container {
	margin-top: 50px;
	margin-bottom: 40%;
	color: #44423d;
	/*transform: translate(13%);*/
}

.footer{
	width: 100%;
	height: 60px;
	background-color: #10100a;
	color: #ffffff;
	clear: both;
	text-align: center;
	margin-top: 20px;
	position: absolute;
	bottom: 0;
}

.footer-text{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 12px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (min-width: 768px){
	.main-content{
		width: 80%;
	}
	.tile-container {
		margin-top: 3%;
	}
	.footer{
		height: 80px;
	}
}