extends template
append stylesheets
	link(rel="stylesheet" href="/stylesheets/template-header.css")
	link(rel="stylesheet" href="/stylesheets/admin-content.css")
block content
	h1
		="Album List"
	div(class='admin-content-wrapper')									
		table(class='admin-table')
			- for(var i = 0; i < albums.length; i++){
				tr
					td(class='list-name')
						=albums[i].albumTitle
					td
						img(class='tag-image' src="#{albums[i].photos[0].photo}")
					td
						a(href="/adminAlbums/deleteAlbum/#{albums[i]._id}/#{albums[i].albumTitle.split(' ').join('-')}") Delete
					td
						a(href="/adminAlbums/editAlbum/#{albums[i]._id}") Edit
			- }