extends template
append stylesheets
	link(rel="stylesheet" href="/stylesheets/template-header.css")
	link(rel="stylesheet" href="/stylesheets/admin-content.css")
block content
	h1
		="Album Tags"
	div(class="admin-content-wrapper")
		h2
			="Regions"
		table(class='admin-table')
			- for(var i = 0; i < locals.regions.length; i++){
				- var region = locals.regions[i].name.split(' ').join('-');
				tr
					td(class='list-name')
						=locals.regions[i].name
					td
						img(class='tag-image' src="https://s3.amazonaws.com/toboldlygo-assets/tagPhotos/" + region + ".jpg")
					td
						a(href="/adminAlbumTags/deleteTag/regions/#{region}")="Delete"
					- for(var k = 0; k < locals.regions[i].countries.length; k++){
						- var country = locals.regions[i].countries[k].split(' ').join('-');
						tr
							td(class='list-name')
								=locals.regions[i].countries[k]
							td
								img(class='tag-image' src="https://s3.amazonaws.com/toboldlygo-assets/tagPhotos/" + country + ".jpg")
							td
								a(href="/adminAlbumTags/deleteTag/countries/#{country}/#{region}")="Delete"
					- }
			- }
		h2
			="Categories"
		table(class='admin-table')
			- for(var i = 0; i < locals.categories.length; i++){
				- var category = locals.categories[i].name.split(' ').join('-');
				tr
					td(class='list-name')
						=locals.categories[i].name
					td
						img(class='tag-image' src="https://s3.amazonaws.com/toboldlygo-assets/tagPhotos/" + category + ".jpg")
					td
						a(href="/adminAlbumTags/deleteTag/categories/#{category}")="Delete"
			- }