.bg{
	background-image: url("/images/header/header-narrow3.jpg");
	height: 23%;
	background-position: 85% 0%;
}

.title {
	font-size: 20px;
	top: 25%;
	margin: 0 auto;
	text-align: center;
}

@media only screen and (min-width: 650px){
	.title {
		font-size: 30px;
		top: 35%;
	}
	
	.bg{
		height: 33%;
	}
}