extends template
append stylesheets
	link(rel="stylesheet" href="/stylesheets/template-header.css")
block content
	<p>This is the Album List page</p>

	h1.
		Albums
	ul
		each album, i in albums
			li
				div
					=album.albumTitle
				div
					=album.albumCategory
				div
					=album.country
				div
					=album.continent
				div
					=album.albumDate
				div
					each photo, p in album.photos
						div
							=photo.photo.split('/').slice(-1)[0]
						div
							=photo.photoDescription
				div
					=album.publishedDate
				a(href="/deleteAlbum/#{album._id}") Delete
				a(href="/edit-form/#{album._id}") Edit