doctype html
html
	head
		title= locals.title
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		block stylesheets
			link(rel="stylesheet" href="/stylesheets/template.css")
			link(rel="stylesheet" href="/stylesheets/menu-bar.css")
			link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		block jscripts
			script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
			script(type="text/javascript" src="/javascripts/script.js")
	body
		div(class='bg')
			div(class='title')
				="To" 
			div(class='title')
				="Boldly" 
			div(class='title')
				="Go"
			div(class='menu-bar')
				div(class='menu-bar-content')
					ul
						li
							a(href="/")
								<i class='fa fa-home'></i>
								<span class='nav-text'> Home</span>	
						li
							<i class='fa fa-globe'></i>
							<span class='nav-text'> Regions </span><span class="arrow">&#x25BD;</span>
							div(id='regions' class="dropdown-content")
								- for(var i = 0; i < locals.regions.length; i++){
									span(class='link')#[a(href="/region/" + locals.regions[i].name.split(' ').join('-')) #{locals.regions[i].name}] #[span(class="expand arrow")&#x25BD;]
									div(class='countries')
										- locals.regions[i].countries.sort()
										- for(var k = 0; k < locals.regions[i].countries.length; k++){
											a(href="/country/" + locals.regions[i].countries[k].split(' ').join('-')) #{locals.regions[i].countries[k]}
										- }
								- }
						li
							<i class='fa fa-tags'></i>
							<span class='nav-text'> Categories </span><span class="arrow">&#x25BD;</span>
							div(id='categories' class="dropdown-content")
								- for(var i = 0; i < locals.categories.length; i++){
									span(class='link')#[a(href="/category/" + locals.categories[i].name.split(' ').join('-')) #{locals.categories[i].name}]
								- }
						li(class='menu-right')
							<i class='fa fa-search search-icon'></i>
						div(id='search-field')
							form(method='GET', action='/search')
								input(type='text' name='search')
								button(type='submit')
									<i class='fa fa-search'></i>
		div(class='container')
			div(class='main-content')
				block content
			div(class="footer")
				div(class="footer-text")
					&copy; 2015-2017, Minoru Nakano, All Rights Reserved