doctype html
html
	head
		title= locals.title
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		block stylesheets
			link(rel="stylesheet" href="/stylesheets/template.css")
			link(rel="stylesheet" href="/stylesheets/menu-bar.css")
			link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
		block jscripts
			script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
			script(type="text/javascript" src="/javascripts/script.js")
	body
		div(class='bg')
			div(class='title')
				="To" 
			div(class='title')
				="Boldly" 
			div(class='title')
				="Go"
			div(class='menu-bar')
				div(class='menu-bar-content')
					ul
						li
							a(href="/")
								<i class='material-icons'>&#xe88a;</i>
								<span class='nav-text'> Home</span>	
						li Regions <span class="arrow">&#x25BD;</span>
							ul(id='regions' class="dropdown-content")
								- for(var i = 0; i < locals.regions.length; i++){
									li
										a(href="/region/" + locals.regions[i].split(' ').join('-')) #{locals.regions[i]}
								- }
						li Categories <span class="arrow">&#x25BD;</span>
							ul(id='categories' class="dropdown-content")
								- for(var i = 0; i < locals.categories.length; i++){
									li
										a(href="/category/" + locals.categories[i].split(' ').join('-')) #{locals.categories[i]}
								- }	
						li
							a(class='responsive-icon' href='javascript:void(0)' onclick='addResponsive()')
								<i class="material-icons">list</i>	
						- if(locals.isAuthenticated){
							li Admin <span class="arrow">&#x25BD;</span>
								ul(id='admin-menu' class="dropdown-content")
									li
										a(href='/albums') Album List
									li 
										a(href="/albums/album-new") Add new album
									li
										a(href="/albumTags") Album Tags
									li
										a(href="/albumTags/newTag") Add new tag
									li
										a(href="/auth/logout") Log Out
						- }
		div(class='container')
			div(class='main-content')
				block content
			div(class="footer")
				div(class="footer-text")
					&copy; 2015-2017, Minoru Nakano, All Rights Reserved