doctype html
html
	head
		title= locals.title
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		block stylesheets
			link(rel="stylesheet" href="/stylesheets/template.css")
			link(rel="stylesheet" href="/stylesheets/menu-bar.css")
			link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
		block jscripts
			script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
			script(type="text/javascript" src="/javascripts/script.js")
	body
		div(class='bg')
			div(class='title')
				="To" 
			div(class='title')
				="Boldly" 
			div(class='title')
				="Go"
			div(class='menu-bar')
				nav(class='menu-bar-content')
					ul
						li(class="menu-left")
							a(href="/") Home
						//li(class="menu-left")
							//a(href="#") About
						li(class="menu-left")
							a(href="#") Regions <span class="arrow">&#x25BD;</span>
							ul(class="dropdown-content regions")
								- for(var i = 0; i < locals.regions.length; i++){
									li 
										a(href="/region/" + locals.regions[i].split(' ').join('-')) #{locals.regions[i]}
								- }

						li(class="menu-left")
							a(href="#") Categories <span class="arrow">&#x25BD;</span>
							ul(class="dropdown-content categories")
								- for(var i = 0; i < locals.categories.length; i++){
									li 
										a(href="/category/" + locals.categories[i].split(' ').join('-')) #{locals.categories[i]}
								- }
						- if(locals.isAuthenticated){
							li(class="menu-left")
								a(href="#") Admin <span class="arrow">&#x25BD;</span>
								ul(class="dropdown-content regions")
									li
										a(href='/albums') Album List
									li 
										a(href="/albums/album-new") Add new album
									li
										a(href="/albumTags") Album Tags
									li
										a(href="/albumTags/newTag") Add new tag
									li
										a(href="/auth/logout") Log Out
						- }

						//li(class="menu-right")
							//<span class="search-icon"><a href="#"><i class="material-icons">search</i></a></span>
							//input(type="text" name="search" placeholder="Search...")
		div(class='main-content')
			block content
		div(class="footer")
			div(class="footer-text")
				&copy; 2015-2017, Minoru Nakano, All Rights Reserved